.thumbnail img {
  max-width: 100%;
}
.thumbnail {
  padding: 0;
}
.thumbnail .caption {
  padding: 9px;
}
.card {
  margin-bottom: 15px;
  margin-top: 15px;
}
.delete-form {
  display: inline;
}
.btn-warning {
  color: #fff;
}
.mg-t {
  margin-top: 20px;
}
.row h1 {
  text-align: center;
}
.form-div {
  margin: 25px 15px;
}
@media (min-width: 640px) {
  .form-div {
    width: 30%;
    margin: 25px auto;
  }
}